<SfDialog Width="320px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible" >
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>
    <DialogTemplates>
        <Header>Add Employee Health Issue</Header>
        <Content>
            <EditForm Model="Doctor" Enhance OnSubmit="Save" >
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Employee ID</label>
                            <input @bind="Doctor!.EmployeeId" class="form-control" disabled>
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Date</label>
                            @* <InputDate @bind-value="Doctor.Date" class="form-control" /> *@
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Date</label>
                            <InputTextArea @bind-value="Doctor.MedicalDiagnose" class="form-control" />
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@code {
        public Doctor? Doctor { get; set ;}
        public void Save()=> throw new InvalidOperationException();
        public bool IsVisible { get; set; } = false;
        public void OpenDialog()=> throw new InvalidOperationException();
}